.carousel-item {
  button {
    &:focus {
      outline: none;
    }
  }
}

.carousel-indicators {
  button {
    &.active {
      background-color: $primary;
    }
  }
}

.modal-dialog {
  padding: 2.5rem 4.28571rem;
  @include media-breakpoint-down(md) {
    padding: 0.571429rem 1.71429rem 2.71429rem;
  }
  ol {
    list-style-position: inside !important;
    font-size: $fs-12;
    li {
      margin-bottom: 5px;
    }
  }
}

.modal-header {
  button {
    color: $lightgray !important;
  }
}

.modal-body {
  &::-webkit-scrollbar {
    appearance: none;
    height: 0.5rem;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 0.5rem;
  }
}

.modal-footer {
  margin-top: 2.5rem;
  padding: 0px 2.85714rem;
  button {
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.0357143rem;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
    padding: 0.642857rem 1.07143rem 0.571429rem;
    border-radius: 1.28571rem;
  }
}
