.navbar-brand {
  img {
    width: 60px;
  }
}

.navbar-nav {
  a {
    &:hover {
      color: $primary;
    }
  }
  .dropdown-menu {
    .dropdown-item {
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.navbar-button-wrapper {
  button {
    font-size: 0.75rem !important;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.0357143rem;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
  }

  .signUpBtn {
    padding: 0.642857rem 1.07143rem 0.571429rem;
    border-radius: 1.28571rem;
  }

  .myBetBtn {
    font-size: 0.7rem;
  }
}
