.navbar-brand {
  img {
    width: 60px;
  }
}

.navbar-nav {
  a {
    &:hover {
      color: $primary;
    }
  }
  .dropdown-menu {
    .dropdown-item {
      &:hover {
        background-color: $primary;
      }
    }
  }
}
