.stn-upcoming {
  h1 {
    align-items: center;
    background-color: rgb(10, 10, 10);
    display: flex;
    font-size: 0.857143rem;
    font-style: italic;
    font-weight: 600;
    height: 4.07143rem;
    justify-content: center;
    letter-spacing: 0.0142857rem;
    line-height: 1.1;
    padding: 1.64286rem 0px 1.71429rem;
    position: relative;
    text-transform: uppercase;

    &:after {
      background: linear-gradient(to right, $primary, transparent);
      bottom: -0.142857rem;
      content: "";
      height: 0.142857rem;
      left: 0px;
      position: absolute;
      right: 0px;
    }
  }

  .sport-header {
    font-size: 1.857143rem;
  }

  .nav-link {
    color: $white;
    h1 {
      &:after {
        background: rgba(255, 255, 255, 0.2);
        bottom: -0.142857rem;
        content: "";
        height: 0.142857rem;
        left: 0px;
        position: absolute;
        right: 0px;
      }
    }
  }
}

.nav-link.active {
  h1 {
    &:after {
      background: $primary;
      bottom: -0.142857rem;
      content: "";
      height: 0.142857rem;
      left: 0px;
      position: absolute;
      right: 0px;
    }
  }
}
